.logo {
  width: 85%;
}

.kt-aside {
  min-height: 100vh !important;
}

.username {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

.role {
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  color: #ffffff94;
}

.personnel-info {
  padding: 2% 0;
}

.user-details {
  background-color: #525266;
}

.MuiDrawer-paper {
  top: inherit !important;
}

.content {
  flex-grow: 1;
}

.drawer {
  width: 265px !important;
  flex-shrink: 0;
}

.MuiDrawer-root > .MuiPaper-root {
  width: 265px !important;
  background: #1e1e2d;
}

.drawerClose > .MuiPaper-root {
  transform: initial !important;
  visibility: visible !important;
  width: 70px !important;
  overflow-x: hidden;
}

.kt-menu__link-text {
  margin: 0 15px;
}

.menu-link {
  padding: 9px 20px;
}

.avatar-sidebar {
  width: 60px;
  height: 60px;
  background: linear-gradient(135deg, #acb6e5, #86fde8);
  border-radius: 50%;
  text-align: center;
  padding-top: 20px;
  color: #fff;
  font-weight: 600;
}

.active {
  background-color: #1b1b28;
}
.aside {
  width: inherit !important;
}

@media (min-width: 992px) {
  .rtl .wrapper {
    padding-right: 250px !important;
    padding-left: 0px !important;
  }
}
@media (min-width: 992px) {
  .aside {
    position: absolute !important;
  }
  .rtl .aside {
    position: absolute !important;
    right: 0 !important;
    left: auto !important;
  }
}
@media (min-width: 992px) {
  .aside-fixed.aside-minimize .rtl .wrapper {
    padding-right: 70px !important;
  }
}
@media (max-width: 992px) {
  .aside {
    display: none !important;
  }
}
.menu-item {
  color: rgb(97, 95, 95);
  list-style-type: none;
}
.menu-nav {
  color: rgb(97, 95, 95);
  list-style-type: none;
  background-color: #1b1b28;
  cursor: pointer;
}
.aside-menu {
  margin: 10% auto;
}
